.main-container{
    position: absolute;
    width: 230px;
    color: white;
    top: 535px;
}

.main-text{
    font-size: 10px;
    margin-bottom: 30px;
}

.about-title, .interests-title{
    font-weight: bold;
    font-size: 16px;
    color: white;
    line-height: 0;
}

